*{
    
    box-sizing: border-box;
}

.container{
    margin-left: 5%;
   width: 1200px;
   height: 150px;
   border: 1px solid rgb(207, 31, 31);
}
.container1{
  
    background-image: linear-gradient(to bottom right, rgb(189, 17, 17), rgba(235, 85, 26, 0.691));
}
#bannerimg{
    width: 200px;
    height: 100px;
}
.container2{

   width: 1200px;
   height: 46px;
   background-color: rgb(214, 42, 42);
   text-decoration: none;
  
}
.container2 hover{
   color: green;
}
footer{
    width: 1150px;
    height: 30px;
    background-color:rgb(197, 18, 18);
    color: white;
    
}
.img1,.img2,.img3,.img4,.img5,.img6
        {
           position: absolute;
            display: flex;
            top: 20%;
            justify-content: center;
            align-items: center;
            text-decoration: none;
        }
        .img1{
            left: 6%;
        }
        .img2{
            left: 10%;
        }
        .img3{
            left: 15%;
        }
        .img4{
            left: 21%;
        }
        .img5{
            left: 28%;
        }
        .img6{
            left: 35%;
        }
        .img1>a,.img2>a,.img3>a,.img4>a,.img5>a,.img6>a
        {
            text-decoration: none;
            color: white;
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        }
        .img1>a:hover,.img2>a:hover,.img3>a:hover,.img4>a:hover,.img5>a:hover,.img6>a:hover{
            color: rgb(26, 202, 26);
        }
        .foodcontainer{
         
        }
        .foodcontainer1{
            display: flex;
            flex-direction: row;
            
        }
        .foodcontainer1>div{ 
          align-items: center;
          justify-content: center;
          text-align: center;
          width: 300px;
          margin: 10px;
          
        }
        .food1{
        
        }
        .food2{
           
          
        }
        .food3{
            
           
        }
        .food4{
            
            
            
        }
        .food5{
            
           
        }
        .food6{
           
        }